/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/* images */

body {
	background:url("../img/bg-yellow.png") no-repeat;
	background-size: cover;
}

.container {
	width: 1200px;
}

.content {
	margin-top: 10%;
	margin-left: 5%;
}

h1 {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 72px;
	font-color:black;
}

p {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.subh-1 {
	font-weight: 300;
	font-size: 24px;
	color: black;
	letter-spacing: 3px;
}

.bottom {
	margin-top: 40%;
}

.larg {
	font-size: 34px;
	color: black;
	font-style: 300;
}