/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/* images */

body {
	background:url("../img/placeholder_bg.jpg") no-repeat;
	background-size: cover;
	height: 100%;
}

.container {
	width: 1170px;
}

/* Typography */

h1, h2, h3, h4, h5, h6, p {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


/* logo */

.row {
	margin-top: 20px;
}

.content {
	top: 72px;
	margin-left: 98px;
	display: block;
	position: relative;
}

#logo .rec
{
	width: 80px;
	height: 14px;
	background-color: #000;
	display: inline-block;
	position: absolute;
	margin-top: 6px;
}

#logo .caption-top {
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #000;
	margin-left: 100px;
}

#logo .main-txt {
	font-size: 70px;
	font-weight: bold;
	line-height: 74px;
	color: #000;
}

#logo .caption-bottom {
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 6px;
	color: #000;

}

/* Time & Place */

.date-n-place {
	font-size: 26px;
	font-weight: bold;
	color: #000;
}

.sponsor-cat-small {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

.date-container {
	margin-top: 60px;
}

/* Images */
 .img-dentons {
 	width: 194px;
	height: 37px;
	display: inline-block;
	margin-left: 10px;
 }

.temp {
	display: block;
	margin-top: 370px;
	margin-left: 98px;
}

/* Mobile */
@media (min-width: 768px;) {
	.container {
		width: 750px;
	}
	body {
		width: 100%;
		height: auto;
	}
}

@media (min-width: 400px;) {
	.container {
		width: 400px;
	}
	body {
		height: 100%;
	}

	.row {
		margin-top: 10px;
	}

	.content {
		top:20px;
		width: 300px;
	}
	#logo .main-txt {
		font-size: 20px;
	}

}
